<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="nav">
    <a class="logo">BLOG</a>
    <a href="/list/1">List</a>
    <a href="/write">Write</a>
    <a href="/register">회원가입</a>
    <a href="/login">로그인</a>
  </div>
</body>
</html>