<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">
  <%- include('nav.ejs') %> 

  <% notices.forEach((notice, i)=>{ %>
    <h2><%=notice.title%></h2>
    <h3><%=notice.content%></h3>
    <h4><%=notice.views%></h4>
  <% }) %>
</body>
</html>